// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #12143c;
    color: #dddddd;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    padding: 1em 5em;
    font-size: 22px;
}
@media (max-width: 767.98px) {
    body {
        padding: 1em;
        margin: 0;
    }
}

header .title {
    width: 148px;
    height: 37px;
    font-size: 27px;
    letter-spacing: 0.3px;
    color: #09be67;
}