// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #12143c;
    color: #dddddd;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    padding: 1em 5em;
    font-size: 22px;
}
@media (max-width: 767.98px) {
    body {
        padding: 1em;
        margin: 0;
    }
}

header .title {
    width: 148px;
    height: 37px;
    font-size: 27px;
    letter-spacing: 0.3px;
    color: #09be67;
}

.repo-item {
    margin: 1em;
    padding: 1em;
    background-color: rgba(255,255,255, 0.05);
    font-size: 1rem;
}

.repo-item h4 {
    font-weight: bold;
}

.repo-item p {
    margin-bottom: 0;
    word-break: break-word !important; //added !important to override line clamp
}

.repo-item a {
    color: #09be67;
}

.repo-item:hover {
    background-color: rgba(9,190,103, 0.2);
}

.repo-item .additional-details {
    text-align: right;
    color: #a5a4a4;
}

/* Hide the browser's default checkbox */
.repo-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.repo-item .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #12143c;
  border-radius: 50%;
  border: 1px solid #fff;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.repo-item input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.repo-item .checkmark:after {
  left: 11px;
  top: 5px;
  width: 10px;
  height: 17px;
  border: solid #09be67;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}